body {
  background-color: #000;
  color: #fff;
}

.App {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.btn-box {
  /* border: 1px solid red; */
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;

  width: 300px;
  padding: 1rem;
}
